{{> navClient}}

<div class='client__banner'></div>
<main class='client__main'>
    <section class='client__reservar'>
        <p class='reservar__p'>Nuestra cabaña es un refugio de serenidad y
            estilo, donde el diseño interior y exterior se unen para ofrecerte
            una experiencia única. Desde el momento en que cruzas la puerta, te
            sumergirás en un ambiente moderno, acogedor y práctico que te hará
            sentir como en casa.</p>
    </section>
    <section class='client__servicios'>
        <div class='client__servicios--banner'></div>
    </section>
    <section class='client__contacto'></section>
</main>
