<header class="header__user">
    <a class="header__user--a" href="#">
        <img src="/icon/logo-corto.svg" alt="logo">
    </a>

    <a href="#">
        <img class="user__logo" src="/icon/logo-text.svg" alt="">
    </a>
</header>